@font-face {
  font-family: 'univers';
  src: url("../type/univers.ttf") format('truetype');
  font-style: bold;
  font-weight: 600;
}

@font-face {
  font-family: 'univers-500';
  src: url("../type/univers-500.otf") format('opentype');
  font-style: normal;
  font-weight: 400;
}