/*--| Tipografía
---------------------------------------------------------------- |--*/
$pr: 'proxima-soft-condensed';

/*--| Colores - Básicos
---------------------------------------------------------------- |--*/
$ne: rgba(0, 0, 0, 0.91);
$w: rgba(255, 255, 255, 0.96);
$w96: rgba(255, 255, 255, 0.96);
$w91: rgba(255, 255, 255, 0.91);
$w86: rgba(255, 255, 255, 0.86);
$w81: rgba(255, 255, 255, 0.81);
$w76: rgba(255, 255, 255, 0.76);
$w71: rgba(255, 255, 255, 0.71);
$w61: rgba(255, 255, 255, 0.61);
$w51: rgba(255, 255, 255, 0.51);
$w41: rgba(255, 255, 255, 0.41);
$w31: rgba(255, 255, 255, 0.31);
$w21: rgba(255, 255, 255, 0.21);
$w16: rgba(255, 255, 255, 0.16);
$w11: rgba(255, 255, 255, 0.11);
$w08: rgba(255, 255, 255, 0.08);
$w05: rgba(255, 255, 255, 0.05);
$w04: rgba(255, 255, 255, 0.04);

$wl1: rgba(10, 245, 245, 0.31);
$wl2: rgba(255, 255, 255, 0.16);
$wl3: rgba(255, 255, 255, 0.08);

/* Redes -------------- */ 
$s-fb: #176dea;
$s-tw: #0b93f1;
$s-wa: #25d366;
$s-co: #d4493c;
$s-yt: #ff0000;
$s-li: #2867b2;
$s-ig: #f50a7f;
$s-tk: rgba(254,44,85,.94);
$s-tc: #9146ff;
$s-te: #25d366;
$s-mp: #1d995b;
$s-tg: #28a9ea;
$s-sms: #0a7ff5;

/*--| Colores
---------------------------------------------------------------- |--*/
$blue-claro: rgba(10, 108, 245, 1);
$blue-oscuro: rgba(4, 4, 105, 1);

$blue-08: rgba(1, 1, 20, 1);
$blue-10: rgba(1, 1, 26, 1);
$blue-11: rgba(1, 1, 28, 1);
$blue-16: rgba(2, 2, 41, 1);
$blue-21: rgba(3, 3, 64, 1);
$blue-26: rgba(3, 3, 66, 1);
$blue-31: rgba(3, 3, 79, 1);
$blue-36: rgba(4, 4, 92, 1);
$blue-41: rgba(4, 4, 105, 1);
$blue-51: rgba(5, 5, 130, 1);
$blue-61: rgba(5, 5, 130, 1);
$blue-66: rgba(6, 6, 156, 1);
$blue-76: rgba(8, 8, 194, 1);
$blue-96: rgba(10, 10, 245, 1);



$bluelight-96: rgba(10, 108, 245, 1);

$c-accent: rgba(245, 10, 49, 1); /*red*/
$c-accent2: rgba(245, 147, 10, 1); /*yellow*/
$c-accent3: rgba(10, 245, 245, 1); /*water*/
$c-accent4: rgba(10, 10, 245, 1); /*blue*/

$blue-back-oscuro: rgba(1, 1, 28, 1);
 $blue-back-claro: rgba(3, 3, 79, 1);

$yellow: rgba(219, 9, 61, 1);

/* Negro -------------- */ 
$c-ne: rgba(1, 1, 15, 1);
$c-ne2: rgba(2, 2, 46, 1);
$c-ne3: rgba(8, 8, 94, 1);